.container {
  position: relative;
  margin: 0 10px;
}

.button {
  appearance: none;
  border: none;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  outline: none;
  cursor: pointer;
}

.button:active {
  background-color: rgba(0, 0, 0, 0.9);
}
