.pip {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.placeholder:hover {
  background-color: rgba(0, 0, 0, 0.14);
}
