.pip {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.placeholder {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
}

.placeholder:hover {
  background-color: rgba(0, 0, 0, 0.14);
}
